<input type="checkbox" id="ham-menu">
<label for="ham-menu">
    <div class="hide-des">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </div>

</label>
<div class="full-page-green"></div>
<div class="ham-menu">
    <ul class="centre-text bold-text">
        <li routerLink="home" routerLinkActive='active'>Головна</li>
        <li routerLink="plagiarism" routerLinkActive='active'>Виявлення Плагіату</li>
        <li routerLink="info" routerLinkActive='active'>Про мене</li>

    </ul>
</div>
<router-outlet></router-outlet>

