@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');
@import '~highlight.js/styles/github.css';

:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,
html {
    width: 100%;
    color: var(--text-color);
    background-color: var(--home-bg-color);
}

pre {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
}

pre code {
    flex: 1;
    line-height: 1.5em;
    font-size: 14px;
    min-height: 100%;
    padding: 1em 1.2em;
}

pre code.hljs-line-numbers {
    padding: 0 !important;
}

/** Line numbers styles */
.hljs {
    margin: 0 1em;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    transition: border ease 1s;
}

.hljs-ln {
    padding: 8px 0;
}

.hljs-ln tr:first-child td {
    padding-top: 8px !important;
}

.hljs-ln tr:last-child td {
    padding-bottom: 8px !important;
}

/* for block of numbers */
td.hljs-ln-numbers {
    user-select: none;
    text-align: center;
    border-right: 1px solid gray;
    vertical-align: top;
    padding-right: 8px !important;
    padding-left: 8px !important;
}

/* for block of code */
td.hljs-ln-code {
    padding-left: 8px !important;
}

.button-23 {
    background-color: var(--lightest-green);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 400px;
}

.button-23:active {
    background-color: var(--alpha-green);
    transform: scale(.96);
}

.button-23:focus-visible {
    box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    transition: box-shadow .2s;
}


.button-23:disabled {
    border: 1px solid #999999;
    transform: scale(1);
    color: #666666;
    cursor: not-allowed;
    opacity: 1;
}

