<div class="home-content">
  <div class="info-blocks">
    <div class="info box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae dolore eos esse est ex facilis hic iste
      magnam mollitia officia quas qui, quibusdam ratione repellendus sapiente temporibus ullam.
    </div>
    <div class="info box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet aperiam asperiores dolores illo
      iusto mollitia nobis pariatur quasi quidem, repellendus tempore! Consectetur dolorem molestiae, mollitia nam
      quisquam velit.
    </div>
    <div class="info box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos, id nihil praesentium ullam vel!
      Blanditiis
      debitis fugit incidunt iste, quam repudiandae saepe. Beatae hic inventore magnam quod quos, velit.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos, id nihil praesentium ullam vel!
      Blanditiis
      debitis fugit incidunt iste, quam repudiandae saepe. Beatae hic inventore magnam quod quos, velit.
    </div>
  </div>
  <div class="info-button" routerLink="/plagiarism">
    <button class="button-23">Розпочати</button>
  </div>
  <div class="info-footer info box">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos, id nihil praesentium ullam vel!
    Blanditiis
    debitis fugit incidunt iste, quam repudiandae saepe. Beatae hic inventore magnam quod quos, velit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos, id nihil praesentium ullam vel!
    Blanditiis
    debitis fugit incidunt iste, quam repudiandae saepe. Beatae hic inventore magnam quod quos, velit.
  </div>
</div>
