.home-content {
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

.info-blocks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    align-items: stretch;
    justify-content: space-between;
}

.box {
    width: 50%;
    border: 2px solid var(--border-color);
    margin: 0 auto 15px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    max-height: 300px;
}

.info {
    background-color: var(--lightest-green);
    color: var(--text-color);
    box-shadow: 0 0 3px 5px var(--box-shadow-color);
}

.info-button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.info-footer {
    width: 100%;
    margin-top: 150px;
}
